* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);

}

span {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/*elementos criados para o homepage*/

#header {
  height: var(--dl-size-size-medium);
  display: flex;
  position: relative;
  min-width: 100%;
  max-height: var(--dl-size-size-large);
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--dl-color-primary-green-back);
}

.logo_container {
  flex: 0 0 auto;
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo_container img {
  width: 100%;
  height: 100%;
}

.logo_container a {
  width: 100%;
  height: 100%;
}

.nav {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  min-width: 1182px;
  align-self: flex-start;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  color: var(--dl-color-primary-100);
  font-size: 20px;
  font-style: normal;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 900;
  border-color: var(--dl-color-primary-100);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-primary-lightlime);
  max-width: fit-content;
}

#body {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 808px;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-lightorangeback);
}

.seccao_right {
  height: auto;
  display: flex;
  min-width: 1246px;
  align-self: flex-start;
  min-height: var(--dl-size-size-xxlarge);
  justify-content: flex-start;
}

.image_complement {
  flex: 0 0 auto;
  width: 800px;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.image_complement img {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.twin {
  width: 50%;
  align-self: stretch;
  object-fit: cover;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.seccao_reservas {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  justify-content: space-evenly;
}

.seccao_reservas div{
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  min-height: 300px;
  max-width: 440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: white;
}

.horario{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.horario div{
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: white;

}

.seccao_reservas img{
  max-width: 60%;
  position: center;
  margin-left: auto;
  margin-right: auto;
}

.reservas h1{
  font-size: 66px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.seccao_reservas.marcacao_titulo{
  text-align: center;
}

.image_complement .middle {
  width:400px;
  border-radius: 0px;
}

.info_box_right {
  flex: 0 0 auto;
  display: flex;
  max-width: 400px;
  min-width: var(--dl-size-size-medium);
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 6px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  border-left-width: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.title_right {
  width: 100%;
  align-self: flex-start;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 0px;
  background-color: rgb(39, 204, 184);
  border-bottom-width: 6px;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.text_right {
  color: var(--dl-color-primary-100);
  width: 100%;
  height: 100%;
  padding: var(--dl-space-space-unit);
  font-size: 20px;
  align-self: flex-start;
  font-style: italic;
  min-height: var(--dl-size-size-xxlarge);
  font-family: Georgia;
  font-weight: 400;
  background-color: var(--dl-color-success-700);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3%;
}

.seccao_left {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  min-height: var(--dl-size-size-xxlarge);
  justify-content: flex-end;
}

.info_box_left {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  max-width: 400px;
  min-width: var(--dl-size-size-small);
  align-self: stretch;
  min-height: 100%;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 6px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  border-right-width: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.title_left {
  width: 100%;
  align-self: flex-start;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 0px;
  background-color: rgb(39, 204, 184);
  border-bottom-width: 6px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.text_left {
  color: var(--dl-color-primary-100);
  width: 100%;
  height: 100%;
  padding: var(--dl-space-space-unit);
  font-size: 20px;
  align-self: flex-start;
  font-style: italic;
  min-height: var(--dl-size-size-xxlarge);
  font-family: Georgia;
  font-weight: 400;
  background-color: var(--dl-color-success-700);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3%;
}

.image_complement .left {
  width: 400px;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#footer {
  height: var(--dl-size-size-medium);
  display: flex;
  min-width: 100%;
  align-self: flex-start;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #13b19c;
}

#footer .text {
  min-width: 990px;
  text-align: center;
}

.icon_group {
  width: var(--dl-size-size-large);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.icon_group img {
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
}

/*elementos criados para o homepage*/


/*Elementos criados para formulários*/
#container_form {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-green-back);
}

.formulario {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  min-width: 600px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
  margin-bottom: 90px;
}

#form_title {
  color: #372f6b;
  font-size: 3em;
  font-family: Merriweather;
}

#form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  min-width: 600px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}

.input_container {
  display: flex;
  min-width: inherit;
  min-height: var(--dl-size-size-xsmall);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}

.input_container label {
  height: auto;
  font-size: 20px;
}

.input_container input {
  width: 100%;
}

.input_container select {
  width: 90%;
  border-width: 2px;
  border-radius: 8px;
}

.button_container {
  width: auto;
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: var(--dl-size-size-xsmall);
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-between;
}

#cancel_button {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-unit);
  min-width: var(--dl-size-size-large);
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-danger-700);
  font-size: medium;
}

#confirm_button {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-unit);
  min-width: var(--dl-size-size-large);
  text-align: center;
  background-color: var(--dl-color-success-700);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  font-size: medium;
}

#regist_container {
  flex: 0 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #D9D9D9;
}


#regist_container span {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

#regist_container a {
  color: #7a2276;
}

/*Elementos criados para formulários*/

/*Elementos criados para tabelas de gestão*/
#body_tables{
  
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 808px;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: rgb(220, 208, 170);
}

.tabela_gestao {
  width: 100%;
  min-width: 1286px;
  border: none;
}

.table_title{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-top: var(--dl-size-size-small);
  margin-bottom: var(--dl-size-size-xsmall);
  color:rgb(102, 23, 176);
}

.tabela_gestao tr:nth-child(even) {
  background-color: rgb(174, 166, 142);
}

.tabela_gestao th {
  background-color: #04AA6D;
  /*Green*/
  color: white;
}

.tabela_gestao td {
  height: 58px;
  text-align: center;
}
/*Elementos criados para tabelas de gestão*/

/*Elementos criados para perfil*/
#body_perfil {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 100%;
  align-self: flex-start;
  min-height: 553px;
  height: 100%; 
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-lightorangeback);
}

.perfil_title {
  color: rgb(55, 47, 107);
  font-size: 4em;
  font-family: Merriweather;
  display: flex;
  align-self: center;
}

.perfil_container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  max-height: auto;
  align-items: center;
  justify-content: center;
}

.container_imagem_perfil {
  width: 318px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.container_imagem_perfil img {
  width: 100%;
  align-self: flex-start;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

.dados_container {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 595px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  min-height: 320px;
  flex-direction: column;
}
/*Elementos criados para perfil*/

/*Elementos criados para form_reservas*/

.container_marcacoes {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-wrap: wrap;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
}

.container_marcacao{
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: 270px;
  min-height: 300px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}

.marcacao_titulo{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}

.marcacao_custo{
  font-size: 4rem;
  font-weight: 700;
}

.marcacao_radio{
  display: flex;
  min-width: inherit;
  min-height: var(--dl-size-size-xsmall);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
  font-size: 13px;
}

.container_tempo{
  display: flex;
  min-width: inherit;
  min-height: var(--dl-size-size-xsmall);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-evenly;
}

.container_tempo input{
  color: rgb(193, 191, 191);
}

/*Dadospessoais.php Tabela de Competências*/
.tabelaCompetencia {
  width: 100%;
  border: none;
}

.tabelaCompetencia th {
  background-color: #04AA6D;
  /*Green*/
  color: white;
}

.tabelaCompetencia td {
	  background-color: rgb(174, 166, 142);

  height: 58px;
  text-align: center;
}